.error-background {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.wrapper-error {
    width: 285px;
    text-align: center;
}

.error-button {
    display: flex;
    justify-content: flex-end;

}

.error_block {
    display: block;
    height: 70px;
    margin: 0 auto;
}