.app {
  background: url(../../assets/img/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  min-height: 100%;
  width: 100%;
}