.main-block {
    display: flex;
    justify-content: space-between;
    min-height: 862px;
    height: 100%;
}

.cards-list-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    width: 100%;
}